LOL_CLIP_MINIMAP_YOLO_WEIGHTS=
LOL_CLIP_MINIMAP_YOLO_CONFIDENCE=0.35
LOL_CLIP_MINIMAP_YOLO_DEVICE=
LOL_CLIP_YOLO_WEIGHTS=
LOL_CLIP_YOLO_CONFIDENCE=0.35
LOL_CLIP_YOLO_DEVICE=
LOL_CLIP_OUTPUT_DIR=D:\LoLClipOutputVids
LOL_CLIP_MATCH_SOURCE_ENCODING=1
LOL_CLIP_CROP_MODE=dynamic
LOL_CLIP_CROP_TRANSITION=cut
LOL_CLIP_PLAYER_COMPOSITION=thirds
LOL_CLIP_THIRDS_LOOK_ROOM_PX=20
LOL_CLIP_DYNAMIC_THREAT_SIDE_TRIGGER_PX=60
LOL_CLIP_DYNAMIC_THREAT_HOLD_SEC=1.0
LOL_CLIP_DYNAMIC_MAX_VIEW_CHANGES=3
LOL_CLIP_CAMERA_THREAT_SUPPORT_TOLERANCE_PX=170
LOL_CLIP_VIDEO_ENCODER=libx264
LOL_CLIP_FFMPEG_CRF=18
LOL_CLIP_FFMPEG_PRESET=slow
LOL_CLIP_NVENC_PRESET=p5
LOL_CLIP_NVENC_RC=vbr
LOL_CLIP_NVENC_CQ=
LOL_CLIP_SOURCE_BITRATE_MULTIPLIER=1.15
LOL_CLIP_VIDEO_BITRATE=
LOL_CLIP_VIDEO_MAXRATE=
LOL_CLIP_VIDEO_BUFSIZE=
LOL_CLIP_AUDIO_BITRATE=320k
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://127.0.0.1:8000/tiktok/callback
TIKTOK_AUTH_SUCCESS_URL=http://127.0.0.1:5173
